{{define "content"}}
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-header text-right">
                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default" id="btnAdd">
                        <i class="fas fa-plus"></i> 新增
                    </a>
                </div>
                <div class="card-body pb-0">
                    <div class="row">
                        {{range $k,$v:=.}}
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                    分类
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b id="lblName">{{$v.Name}}</b></h2>
                                            <p class="text-muted text-sm"><b>详细介绍: </b><span id="lblDesc">{{$v.Desc}}</span></p>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="../../dist/img/user1-128x128.jpg" alt="产品缩略图"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm btn-primary" data-id="{{$v.ID}}" id="btnUpdate">
                                            <i class="fas fa-pen-nib"></i> 修改
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">产品信息</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- form start -->
                            <form id="form" action="/pai/prod/update" method="post" enctype="application/x-www-form-urlencoded" target="_self">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="prodName">产品名称</label>
                                        <input type="number" id="prodId" name="ID" style="display: none;">
                                        <input type="text" class="form-control" id="prodName" name="Name"
                                            placeholder="输入名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="prodDesc">详细介绍</label>
                                        <textarea rows="5" cols="20" class="form-control" id="prodDesc" name="Desc"
                                            placeholder="输入描述"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="imgUrl">图片</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="imgUrl" name="ImgUrl">
                                                <label class="custom-file-label" for="prodImg">添加文件</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </form>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="btnSave" type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>
    </div>
</div>
{{end}}
{{define "script"}}
<script src="/static/plugins/bs-custom-file-input/bs-custom-file-input.js"></script>
<script>
    $(function () {
        bsCustomFileInput.init();
        $('#btnAdd').click(function(){
            //reset form val
            $('#form').trigger("reset");
        })
        $('#btnSave').click(function(){
            $('#form').submit();
        })
        $('a[id="btnUpdate"]').click(function(){
            var id=$(this).attr('data-id');
            $('#prodId').val(id);
            var $context=$(this).parent().parent().siblings();
            var name=$('#lblName',$context).text();
            $('#prodName').val(name);
            var desc=$('#lblDesc',$context).text();
            $('#prodDesc').val(desc);
            $('#modal-default').modal('show');
        })
        $('#imgUrl').on('change',function(){
            
        })
    })
</script>
{{end}}