{{define "content"}}
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-header text-right">
                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default">
                        <i class="fas fa-plus"></i> 新增
                    </a>
                </div>
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                    分类
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>产品名称</b></h2>
                                            <p class="text-muted text-sm"><b>详细介绍: </b>固定格式介绍，固定格式接受阿道夫</p>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="../../dist/img/user1-128x128.jpg" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm btn-primary">
                                            <i class="fas fa-pen-nib"></i> 修改
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item"><a class="page-link" href="#">7</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">产品信息</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- form start -->
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="prodName">产品名称</label>
                                        <input type="text" class="form-control" id="prodName"
                                            placeholder="输入名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="prodInfo">详细描述</label>
                                        <textarea rows="5" cols="20" class="form-control" id="prodInfo"
                                            placeholder="输入描述"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="prodImg">图片</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="prodImg">
                                                <label class="custom-file-label" for="prodImg">添加文件</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">上传</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </form>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>
    </div>
</div>
{{end}}
{{define "script"}}
<script src="/static/plugins/bs-custom-file-input/bs-custom-file-input.js"></script>
<script>
    $(function () {
        bsCustomFileInput.init();
    })
</script>
{{end}}