<!DOCTYPE html>
<html lang="en">
<head>
<!-- 引入头部 -->
{{template "header" .}}
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
{{block "content" .}}{{end}}
<!-- 引入脚部 -->
{{template "footer" .}}
</body>
</html>